/* .body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
} */

gridContainer {
  paddingleft: "40px";
  paddingright: "40px";
}

#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.home-container {
  width: 100%;
  height: 90%;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* position: relative; */
}

.karty {
  /* position: relative; */
  margin-left: 110px;
  margin-bottom: 20px;
  margin-right: 20px;
  /* left: 300px; */
  width: 23.75rem;
  height: 500px;
  /* background: white; */
  /* border-radius: 10px; */
  /* display: inline-block; */
  /* margin-left: 10px; */
  /* margin-right: 100px; */
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); */
  /* cursor: pointer; */
  /* dis: center; */
  /* float: left; */
}
.karta2 {
  /* margin-top: -500px; */
  /* position: relative; */
  /* top: -7.4rem; */
  /* margin-top: 15px; */
  /* left: 530px; */
  position: absolute;
  left: 32rem;
  top: 3.2rem;
  width: 300px;
  height: 150px;
  /* float: left; */
}
.automation-list {
  position: absolute;
  top: 3.2rem;
  left: 79rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 23.75rem;
  height: 30rem;
  background: white;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
}
.automation-element {
  margin-bottom: 1.5rem;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 10px;
  height: 3rem;
  width: 20rem;
}
.automation-element-toggle {
  margin-left: 16rem;
  margin-top: -3rem;
}
.notifications-card {
  position: absolute;
  top: 36rem;
  display: flex;
  flex-direction: column;
  margin-left: 118px;
  align-items: center;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 10px;
  width: 23rem;
  background: white;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  list-style-type: none;
  /* float: left; */
}
.notification-icon {
  font-size: 1.4rem;
  margin-left: -20rem;
  margin-top: -1.5rem;
}
.door-check-card {
  position: absolute;
  left: 52rem;
  top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  width: 23.75rem;
  background: white;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  /* float: left; */
}
.door-status {
  margin-top: 1rem;
  margin-left: -12rem;
  margin-bottom: 1rem;
}
.lock-element-toggle {
  pointer-events: none;
}
.diplay-lock-value {
  margin-top: -1.7rem;
  margin-left: 3rem;
  font-weight: bold;
  color: #1888ff;
}
.electricity-card {
  position: absolute;
  top: 14.4rem;
  left: 32rem;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  align-items: center;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 10px;
  width: 19rem;
  background: white;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  list-style-type: none;
  /* float: left; */
}
.electricity-status {
  margin-top: 1rem;
  margin-left: -8rem;
  margin-bottom: 1rem;
}
.electricity-logo {
  position: absolute;
  margin-left: 12rem;
  margin-top: 2.8rem;
}
.diplay-electricity-value {
  position: absolute;
  margin-top: 2.8rem;
  margin-left: 5rem;
  font-weight: bold;
  color: #1888ff;
}
.add-Automation-list {
  position: relative;
  /* top: 2rem; */
  /* left: 1.5rem; */
}
.select-device-type {
  position: relative;
  align-items: center;
  top: -5rem;
  left: -0.5rem;
}
.add-remove-Automtion-list {
  position: relative;
  top: -6rem;
}
.select-automation-list-label {
  position: relative;
  text-align: center;
  top: -7rem;
  left: -6rem;
}
.add-devices {
  position: relative;
  top: -5rem;
  left: -0.5rem;
}

.rain-notification,
.temperature-notification,
.wind-notification,
.light-notification {
  margin-top: 1.5rem;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 10px;
  height: 3.5rem;
  width: 100%;
}
@media (max-width: 768px) {
  /* .notifications-card {
    top: -17rem;
  } */
  /* .automation-list {
    left: 6.5rem;
    top: 28rem;
  } */
  .karty {
    margin-left: 50px;
  }
  .karta2 {
    left: 0;
    margin-left: 50px;
    top: 36rem;
  }
  .notifications-card {
    top: -5rem;
    margin-left: 50px;
  }
  .door-check-card {
    left: 0;
    margin-left: 50px;
    top: 47.5rem;
  }
  .electricity-card {
    left: 0;
    margin-left: 50px;
    top: 56.5rem;
  }
  .automation-list {
    left: 0;
    margin-left: 50px;
    top: 66.5rem;
  }
  .notifications-card {
    left: 0;
    margin-left: 50px;
    top: 98.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .automation-list {
    left: 32rem;
    top: 25rem;
  }
  .door-check-card {
    top: 35rem;
    left: 101px;
  }
  .notifications-card {
    top: 44rem;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .automation-list {
    top: 13rem;
    left: 53rem;
  }
}
