.plugContainer {
  position: relative;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  /* padding: 20px 10px; */
  border-radius: 10px;
  width: 250px;
  min-height: 200px;
  background: white;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  text-align: center;
  float: left;
}
h1 {
  position: relative;
  margin-top: 10px;
}

.power-switch {
  text-align: center;
  font-size: 70px;
  cursor: pointer;
  line-height: 160px;
  background: transparent;
  border-radius: 50%;
  transition: 0.3s;
}

.switch {
  color: #eee;
  transition: 0.3s;
  text-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
}

.power-switch :hover {
  transform: scale(1.2);
}
